@import "../../styles/base.scss";

.stepper__container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 5%;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.title-word {
  border-bottom: 2px solid $light-green-color;
}

.title-container {
  position: absolute;
  top: 0;
  left: 30%;
  transform: translateX(-50%);
  margin-top: 4rem;
}

@media only screen and (max-width: $tablet-breakpoint) {
  .title {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  .title {
    font-size: 1.2rem;
  }
}
