@import "../../styles/base.scss";

.form {
  &-register__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &__label {
    color: $text-color;
    font-weight: 700;
  }

  &__input {
    padding: 4px 8px;
  }

  &__button__group {
    display: flex;
    justify-content: space-between;
  }
}

.password {
  &-weak {
    border-bottom: 6px solid red;
  }

  &-medium {
    border-bottom: 6px solid rgb(252 211 77);
  }

  &-strong {
    border-bottom: 6px solid green;
  }
}

.error {
  color: $red;
}
