@import "../../styles/base.scss";

.form {
  &-register__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &__label {
    color: $text-color;
    font-weight: 700;
  }

  &__input {
    padding: 4px 8px;
  }

  &__button__group {
    display: flex;
    justify-content: space-between;
  }
}

.password {
  &-weak {
    border-bottom: 6px solid red;
  }

  &-medium {
    border-bottom: 6px solid rgb(252 211 77);
  }

  &-strong {
    border-bottom: 6px solid green;
  }

  &-input-container {
    position: relative;
  }
}

.input-password {
  width: calc(100% - 2.5rem);
  padding-right: 2.5rem;
}

.input-repeat-password {
  width: calc(100% - 2.5rem);
  padding-right: 2.5rem;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 3.5rem;
  transform: translateY(-50%);
  cursor: pointer;
}

.input-error {
  border: solid 1px red;
}

.error {
  color: $red;
}
