@import "styles/base";

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-content {
  margin: 25px;
  text-align: center;
}

p {
  color: $text-color;
  font-size: 15px;
  font-weight: 500;
}

h4 {
  color: $dark-green-color;
  font-weight: 700;
}

.app-header-logo {
  max-height: 80px;
  border: none;
}
